/*
** Gloabl Page Style
*/

body{
    background-color: #f0f2f4;
}

/*
** Style for the footer
*/

footer{
    background-color: #021f45;
    padding: 2% 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
}

footer nav{
    grid-column: 1 / 1;
    justify-self: center;
}

footer nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

footer nav a{
    color: #f0f2f4;
    text-decoration: none;
    font-weight: bold;
}

footer p{
    color: #f0f2f4;
    padding-inline: 30px;
    font-weight: bold;
    grid-column: 2 / 2;
    justify-self: center;
}

@media (max-width: 768px) {
    footer nav ul{
        gap: 20px;
    }

    footer nav a{
        justify-self: start;
    }

    footer p{
        justify-self: end;
    }
}

/*
**
** Style for the index.html page
**
*/

/*
** Style for the header image and nav bar
*/

.header{
    /* Position of the header box in the page */
    display: grid;
    width: 100%;
}

.header img{
    grid-area: 1 / 1;
    width: 100%;
    height: auto;
    display: block; /* Idk what it is but it helps */
}

.header nav{
    /* Position of the nav bar inside the header box */
    grid-area: 1 / 1;
    justify-self: end;
    align-self: start;
    margin: 20px;

    /* Style of the entire nav text */
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header nav a{
    color: #f0f2f4;
    text-decoration: none;
    font-weight: bold;
}

/*
** Style for the header text
*/

.header-text{
    /* Position of the header text inside the header box */
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    transform: translateX(+50%); /* Move the text to the right to be starting at the middle of the image */

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.header-text h1{
    /* Style of the h1 name text */
    color: #f0f2f4;
    font-size: 2.8em;
    margin: 0;
}

.header-text h3{
    /* Style of the h3 welcome text */
    color: #f0f2f4;
    font-size: 1.2em;
    margin: 5px 0 0 0;
}

/*
** Responsive design for the personal info section: smartphones
*/

@media (max-width: 768px) {
    .header nav{
        font-size: 0.8em;
    }

    .header-text{
        grid-template-columns: 1fr 1fr;
        transform: translate(+50%, +25%);
    }

    .header-text h1{
        font-size: 1.2em;
    }

    .header-text h3{
        display: none;
    }
}

/*
** Main body style
*/

/*
** Style for the personal info section
*/

.info{
    /* Position and structure of the info box in the page */
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;

    /* Structure of the elements inside the info box */
    gap: 5%;
    align-items: center;
    justify-items: center;

    /* Style of the info box in the page */
    margin: 2.5% 0%;
    padding: 2.5% 0%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info img{
    width: 90%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.info-text{
    /* Position of the header text inside the header box */
    display: flex;
    width: 90%;
    flex-direction: column;
    align-self: center;
    justify-self: center;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.info-text h2{
    font-size: 1.8em;
    color: #d16d16;
}

.info-text p{
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.info-text p a{
    color: #d16d16;
    text-decoration: none;
    font-weight: bold;
}

/*
** Responsive design for the personal info section: smartphones
*/

@media (max-width: 768px) {
    .info {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .info img {
        width: 80%;
        height: auto;
        grid-row: auto;
    }

    .info-text h2{
        font-size: 1.5em;
    }
}

/*
**
** Style for the about.html page
**
*/

.info-welcome{
    /* Position and structure of the info box in the page */
    width: 100%;
    align-items: center;

    /* Style of the info box in the page */
    margin: 2% 0%;
    padding: 2% 0%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.info-welcome h2{
    padding-inline: 5%;
    font-size: 1.8em;
    color: #d16d16;
}

.info-welcome p{
    padding-inline: 5%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

/*
** Responsive design for the personal info welcome section: smartphones
*/

@media (max-width: 768px) {
    .info-welcome h2{
        text-align: center;
        font-size: 1.5em;
    }

    .info-welcome p{
        text-align: center;
        font-size: 1em;
    }
}

/*
** Style for the education section
*/

.edu{
    /* Position and structure of the info box in the page */
    width: 100%;

    /* Style of the info box in the page */
    margin: 2% 0%;
    padding: 2% 0%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.edu h2{
    padding-inline: 5%;
    font-size: 1.8em;
    color: #d16d16;
}

.title{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 3fr;

    /* Style of the info box in the page */
    margin: 5% 0%;
    padding: 5% 0%;
    background-color: #f0f2f4;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.title p{
    grid-column: 2 / 2;
    padding-inline: 5%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.school{
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
}

.school h3{
    padding-inline: 15%;
    font-size: 1.2em;
    color: #021f45;
}

.school h4{
    padding-inline: 15%;
    font-size: 1em;
    color: #021f45;
}

/*
** Responsive design for the personal info education section: smartphones
*/

@media (max-width: 768px) {
    .edu h2{
        text-align: center;
        font-size: 1.5em;
    }

    .title{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .title p{
        grid-column: 1 / 1;;
        text-align: center;
    }

    .school h3{
        margin: 0 0;
        text-align: center;
    }

    .school h4{
        margin: 0 0;
        text-align: center;
    }
}

/*
** Style for the work section
*/

.work{
    /* Position and structure of the info box in the page */
    width: 100%;

    /* Style of the info box in the page */
    margin: 2% 0%;
    padding: 2% 0%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.work h2{
    padding-inline: 5%;
    font-size: 1.8em;
    color: #d16d16;
}

.job{
    /* Position and structure of the info box in the page */
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 3fr;

    /* Style of the info box in the page */
    margin: 5% 0%;
    padding: 5% 0%;
    background-color: #f0f2f4;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.job p{
    grid-column: 2 / 2;
    padding-inline: 5%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.company{
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
}

.company h3{
    padding-inline: 15%;
    font-size: 1.2em;
    color: #021f45;
}

.company h4{
    padding-inline: 15%;
    font-size: 1em;
    color: #021f45;
}

/*
** Responsive design for the personal info work section: smartphones
*/

@media (max-width: 768px) {
    .work h2{
        text-align: center;
        font-size: 1.5em;
    }

    .job{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .job p{
        grid-column: 1 / 1;
        text-align: center;
    }

    .company h3{
        margin: 0 0;
        text-align: center;
    }

    .company h4{
        margin: 0 0;
        text-align: center;
    }
}

/*
**
** Style for the contact.html page
**
*/

/*
** Style for the contact form section
*/

.contact{
    /* Position and structure of the form box in the page */
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;

    /* Style of the form box in the page */
    margin: 2% 0%;
    padding: 2% 0%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

    /* Style of the form text */
    font-family: 'Montserrat', sans-serif;
}

.contact h2{
    grid-column: 1;
    padding-inline: 10%;
    font-size: 1.8em;
    color: #d16d16;
}

.contact form{
    grid-column: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 10%;
    align-items: stretch;
}

.contact form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
    color: #021f45;
    font-size: 1em;
}

.contact form label input{
    width: 100%;
    min-width: 200px;
    padding: 5% 5%;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #021f45;
    border-radius: 8px;
}

.contact form label textarea{
    width: 100%;
    min-width: 200px;
    min-height: 250px;
    margin: 2% 0%;
    padding: 5% 5%;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #021f45;
    border-radius: 8px;
}

.contact form button{
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #d16d16;
    color: #f0f2f4;
    border: 2px solid #021f45;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.maps{
    grid-column: 2;
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps iframe{
    width: 90%;
    height: 90%;
    min-height: 350px;
    margin: 0 0;
    padding: 20px 0 0 0;
    border-radius: 8px;
}

/*
** Responsive design for the contact form section: smartphones
*/

@media (max-width: 768px) {
    .contact{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .contact h2{
        text-align: center;
        font-size: 1.5em;
    }

    .contact form{
        justify-self: center;
        align-self: center;
        align-items: center;
    }

    .contact form label{
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    .contact form label input{
        align-self: center;
        justify-self: center;
    }

    .contact form label textarea{
        align-self: center;
        justify-self: center;
    }

    .contact form button{
        align-self: center;
    }

    .maps{
        grid-column: 1;
        align-self: center;
        justify-self: center;
        min-height: 250px;
        margin: 20px 0;
    }
}