/*
**
** Style for the about.html page
**
*/

.info-welcome{
    /* Position and structure of the info box in the page */
    width: 90%;
    justify-self: center;
    align-items: center;

    /* Style of the info box in the page */
    padding: 10px 0;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.info-welcome h2,
.info-welcome p{
    padding-inline: 5%;
}

.info-welcome h2{
    font-size: 1.8em;
    color: #d16d16;
}

.info-welcome p{
    text-align: justify;
    font-size: 1em;
    line-height: 1.6;
    color: #c5c5c5;
}

/*
** Responsive design for the personal info welcome section: smartphones
*/

@media (max-width: 768px) {
    .info-welcome h2{
        justify-self: center;
        text-align: center;
        font-size: 1.5em;
    }
}

/*
** Style for the education section
*/

.edu{
    /* Position and structure of the info box in the page */
    width: 90%;
    justify-self: center;

    /* Style of the info box in the page */
    padding: 10px 0;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.edu h2{
    padding-inline: 5%;
    font-size: 1.8em;
    color: #d16d16;
}

.title{
    /* Style of the box */
    width: 90%;
    border-radius: 8px;
    justify-self: center;
    align-self: center;

    /* Position of the items inside this box */
    display: grid;
    grid-template-columns: 2fr 3fr;

    /* Style of the info box in the page */
    margin: 20px auto;
    padding: 10px 0;
    background-color: #a3b3ca;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.title p{
    text-align: justify;
    align-self: center;
    padding-inline: 5%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.school{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.school h3,
.school h4{
    margin: 0 0;
    padding: 10px 7%;
    color: #021f45;
}

.school h3{
    font-size: 1.2em;
}

.school h4{
    font-size: 1em;
}

/*
** Minimal animations
*/

.title{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.title:hover{
    transform: translateY(-5px);
    box-shadow: 5px 20px 10px rgba(156, 156, 156, 0.15);
}

/*
** Responsive design for the personal info education section: smartphones
*/

@media (max-width: 768px) {
    .edu h2{
        text-align: center;
        font-size: 1.5em;
    }

    .title{
        grid-template-columns: 1fr;
        padding: 15px 0;
    }

    .title p{
        grid-column: 1;
        text-align: justify;
        align-self: center;
    }

    .school h3,
    .school h4{
        grid-column: 1;
        align-self: center;
        text-align: center;
        margin: 0 0;
        padding: 10px 5%;
    }
}

/*
** Style for the work section
*/

.work{
    /* Position and structure of the info box in the page */
    width: 90%;
    justify-self: center;

    /* Style of the info box in the page */
    padding: 10px 0;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.work h2{
    font-size: 1.8em;
    padding-inline: 5%;
    color: #d16d16;
}

.job{
    /* Style of the box */
    width: 90%;
    border-radius: 8px;
    justify-self: center;
    align-self: center;

    /* Position and structure of the info box in the page */
    display: grid;
    grid-template-columns: 2fr 3fr;

    /* Style of the info box in the page */
    margin: 20px auto;
    padding: 10px 0;
    background-color: #a3b3ca;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.job p{
    align-self: center;
    text-align: justify;
    padding-inline: 5%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.company{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.company h3,
.company h4{
    margin: 0 0;
    padding: 10px 7%;
    color: #021f45;
}

.company h3{
    font-size: 1.2em;
}

.company h4{
    font-size: 1em;
}

/*
** Minimal animations
*/

.job{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job:hover{
    transform: translateY(-5px);
    box-shadow: 5px 20px 10px rgba(156, 156, 156, 0.15);
}

/*
** Responsive design for the personal info work section: smartphones
*/

@media (max-width: 768px) {
    .work h2{
        justify-self: center;
        text-align: center;
        font-size: 1.5em;
    }

    .job{
        grid-template-columns: 1fr;
        padding: 15px 0;
    }

    .job p{
        grid-column: 1;
        text-align: justify;
        align-self: center;
    }

    .company h3,
    .company h4{
        align-self: center;
        grid-column: 1;
        text-align: center;
        margin: 0 0;
        padding: 10px 5%;
    }
}

/*
** Style for the tongues section
*/

.languages{
    /* Position and structure of the info box in the page */
    width: 90%;
    justify-self: center;
    align-items: center;

    /* Style of the info box in the page */
    padding: 10px 0;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.languages h2,
.languages p{
    padding-inline: 5%;
}

.languages h2{
    font-size: 1.8em;
    color: #d16d16;
}

.languages p{
    text-align: justify;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.tongue{
    /* Style of the box */
    width: 90%;
    border-radius: 8px;
    justify-self: center;
    align-self: center;

    /* Position and structure of the info box in the page */
    display: grid;
    grid-template-columns: 2fr 3fr;

    /* Style of the info box in the page */
    margin: 20px auto;
    padding: 10px 0;
    background-color: #a3b3ca;

    /* Style of the header text */
    font-family: 'Montserrat', sans-serif;
}

.tongue h3,
.tongue h4{
    grid-column: 1;
    margin: 0 0;
    padding: 10px 7%;
    color: #021f45;
}

.tongue h3{
    font-size: 1.2em;
}

.tongue h4{
    font-size: 1em;
}

.level-bars{
    grid-column: 2;
    width: 95%;
    display: flex;
    gap: 4px; /* Spazio tra le tacche */
    align-items: flex-end; /* Tacche allineate alla base */
    height: 20px;
    padding-inline: 5%;
}

.small-bar{
    width: 6.5%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
}

.small-bar-filled{
    width: 6.5%;
    height: 100%;
    background-color: #021f45;
    border-radius: 8px;
}

/*
** Minimal animations
*/

.tongue{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tongue:hover{
    transform: translateY(-5px);
    box-shadow: 5px 20px 10px rgba(156, 156, 156, 0.15);
}

/*
** Responsive design for the languages section: smartphones
*/

@media (max-width: 768px) {
    .languages h2{
        justify-self: center;
        text-align: center;
        font-size: 1.5em;
    }

    .tongue{
        grid-template-columns: 1fr;
        padding: 15px 0;
    }

    .tongue h3,
    .tongue h4{
        align-self: center;
        grid-column: 1;
        text-align: center;
        margin: 0 0;
        padding: 10px 0;
    }

    .level-bars{
        grid-column: 1;
        padding: 10px 5%;
        justify-self: center;
    }
}
