
/*
**
** Style for the contact.html page
**
*/

.contacts{
    width: 90%;
    justify-self: center;

    /* Style of the info box in the page */
    padding: 10px 0;

    /* Style of the form text */
    font-family: 'Montserrat', sans-serif;
}

.contacts h2{
    padding-inline: 5%;
    font-size: 1.8em;
    color: #d16d16;
}

@media (max-width: 768px){
    .contacts h2{
        font-size: 1.5em;
        text-align: center;
    }
}

/*
** Terminal look: header
*/

.terminal{
    width: 90%;
    justify-self: center;
}

.header{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 0;
    background-color: #050514;
    border-radius: 8px 8px 0 0;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.red{
    background-color: #ff5f56;
}

.yellow{
    background-color: #ffbd2e;
}

.green{
    background-color: #27c93f;
}

/*
** Terminal look: body
*/

.body{
    padding: 10px 10px;
    background: linear-gradient(to right, #0d0f2c, #050514);
    color: #d16d16;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body a{
    width: 220px; /* fix of the link being clickable all the line */
    color: #f0f2f4;
    text-decoration: none;
}

.prompt{
    color: #f0f2f4;
}

.result{
    color: #f0f2f4;
    margin: 5px 0;
}

.result-link{
    width: 266px;
    padding: 10px 10px;
    background-color: #021f45;
    border-radius: 8px;
}

.social-links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.social{
    width: 220px;
    padding: 5px 5px;

    border-radius: 8px;
    background-color: #021f45;
}

.social a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #f0f2f4;
    text-decoration: none;
    font-weight: bold;
}

.social img{
    padding: 0 10px;
    height: 30px;
}

/*
** Style for the contact form section
*/

.contact-form{
    /* Position and structure of the form box in the page */
    grid-column: 1;
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    /* Style of the form text */
    font-family: 'Montserrat', sans-serif;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f0f2f4;
}

.contact-form form label input,
.contact-form form label textarea{
    max-width: 280px;
    padding: 10px 10px;
    background-color: #021f45;
    color: #f0f2f4;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: none;
}

.contact-form form label textarea{
    min-height: 250px;
}

.contact-form form button{
    max-width: 305px;
    padding: 10px 20px;
    background-color: #d16d16;
    color: #f0f2f4;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/*
** Responsive design for contact form: mobile
*/

@media (max-width: 768px){
    .contact-form form button{
        width: 100%; /* small fix */
    }
}